.Home{
    @include default(100vh);
    margin:0;
    padding-top: 10px;
    min-width: 100%;
    text-align: center;
    background-image: url('../photos/gem-tree-mums-cover-art-web@0.5x.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: white;
    background-blend-mode: multiply;
    background-position-y: top;
    font-family: $mainFont;
    .songLink{
        position: absolute;
        bottom: 0%;
        letter-spacing: 1rem;
        width: 40%;
        left: 30%;
        margin: 0 auto;
        border: 5px solid #e3e3e3;
        text-decoration: none;
        color: #e3e3e3;
        font-size: 2rem;
        transition: all .5s;
        @media only screen and (max-width: 600px){
            font-size: 1rem;
            letter-spacing: .3rem;
            width: 66%;
            left: 18%;
        }
        @media only screen and (min-width: 600px) and (max-width: 1000px){
            width: 75%;
           left: 12.5%;
        }
        &:hover{
            color: grey;
            transform: scale(0.8);
            border-radius: 10px;
            background:rgba(173,216,230, 0.7);
            border: 5px solid rgba(173,216,230, 0.7);

        }

        
    }
         
    @media only screen and (min-width: 768px){
        background-size: 1440px;
        // background-position: center;
        background-image: url('../photos/coverart.JPG');
        background-position-y: 30%;
    }
}
    .title{
       position: absolute;
       bottom: 90px;
       width: 100%;
       margin: 0 auto;
        font-size: 5rem;
        color: #e3e3e3;
        @media only screen and (max-width: 600px){
            font-size: 4rem;
        }

    }
     
      

.audioPlayer{
    position: fixed;
    bottom:0;
    left:25%;
    margin: 0;
    padding: 0;
    width: 50%;
    
    z-index: 3;
    
}